.button {
    border: 1px solid #000000;
    cursor: pointer;
    background-color: transparent;
    color: #FF0000;
    font-size: 20px;
  
    &-star {
      border: transparent;
      color: #000000;
    }
    &-star-clicked{
      color: #04ff00;
    }
  
    &-star:hover {
      color: #FF0000;
    }
  
    &-arrow {
      color: #FFFFFF;
      border: transparent;
    }
  
    &-action {
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0.2);
      border: transparent;
      padding: 5px;
      width: 80px;
    }
  
    &-add-to-cart {
      border: transparent;
      background-color: cornflowerblue;
      color: white;
      padding: 10px;
      border-radius: 20px;
    }
  
    &-add-to-cart:hover {
      background-color: #FF0000;
    }
  }
  
  