.header {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: cornflowerblue;
      padding: 10px;
      font-size: 30px;
    }
    &-cart{
      padding: 10px;
    }
    &-favourites{
      padding: 10px;
    }
  }
  